<%= form_tag sessions_path, method: "post", class: "form-horizontal" do %>
  <div class="control-group">
    <label class="control-label" for="adapter">Adapter</label>
    <div class="controls">
      <input type="text" id="adapter" placeholder="adapter" name="session[adapter]" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="name">Connection Name</label>
    <div class="controls">
      <input type="text" id="name" placeholder="Name" name="session[name]" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="host">Host</label>
    <div class="controls">
      <input type="text" id="host" placeholder="host" name="session[host]" value="127.0.0.1" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputUserName">username</label>
    <div class="controls">
      <input type="text" id="inputUserName" placeholder="username" name="session[username]" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Database</label>
    <div class="controls">
      <input type="text" id="inputPassword" placeholder="database" name="session[database]" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password" name="session[password]">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Socket</label>
    <div class="controls">
      <input type="password" id="inputSocket" placeholder="Socket" name="session[socket]" />
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Connect</button>
    </div>
  </div>
<% end %>
