<ul>
  <li><a href="https://github.com/chrismccord/labrador"><%= t('pages.help.user_manual') %></a></li>
  <li><a href="https://github.com/chrismccord/labrador/issues"><%= t('pages.help.issue_tracker') %></a></li>
</ul>